GEMINI_API_KEY="You can use any api you wish" 
GEMINI_URL="Use your prefered AI"



# Configuration (Make sure this is your valid US token!) Since my scm is in Americas region
# PRISMA AIRS API KEY ! THIS IS TO BE CONFIGURED FIRST IN SCM AND THEN CAN BE USED HERE.
API_KEY = "API key" 
PROFILE = "this is using the profile name, using profile UUID is also available"